<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="FacebookGraphToolkitConfiguration" type="Facebook_Graph_Toolkit.FacebookGraphToolkitConfiguration"/>
  </configSections>
  <system.webServer>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>


    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <system.web>

   

    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
    
    </pages>
  </system.web>


  <appSettings>
    <add key="Services.Services" value="http://portal.s7news.net/Services.asmx"/>
    
    <add key="HostServerURL" value="http://s7news.net"/>
  </appSettings>
  <connectionStrings>
    <add name="DBConnectionStringSQL" connectionString="Data Source=192.168.3.70;Initial Catalog=ElFagr;User id=elfagr;Password=aTxt4RLfAc;" providerName="System.Data.SqlClient"/>
    <add name="LocalCon" connectionString="Data Source=localhost;Initial Catalog=elfagrCars;Integrated Security=True"/>
    <add name="elfagrCarsConnectionString" connectionString="Data Source=localhost;Initial Catalog=elfagrCars;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
