<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    
    <section name="FacebookGraphToolkitConfiguration" type="Facebook_Graph_Toolkit.FacebookGraphToolkitConfiguration"/>
  </configSections>
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <FacebookGraphToolkitConfiguration FacebookAppID="176838762385959" FacebookAppSecret="32cce0db5e9e1c630e4f14d63d7181a1" FacebookAppAddress="http://apps.facebook.com/tasktwoo/" PostAuthorizeRedirectURL="Features.aspx">
  </FacebookGraphToolkitConfiguration>
  <appSettings>
    <add key="Services.Services" value="http://portal.s7news.net/Services.asmx"/>
  </appSettings>
</configuration>
